body {
    background-image: url("bg6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    background-attachment: fixed;
	
}
h1 {
    color: brown;
    text-align: center;
}
p {
    color: black;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

li {
    float: right;
}
li a:hover {
    background-color: green;
}
li a {
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
}
